<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp">
	<p>This is {{status|lowercase}} (lowercase filter added)</p><hr>
	<div ng-controller="myCtrl">
		<ul><li>This is {{status}}</li></ul>
		<ul>
			<b><a ng-click="myPersonalOrderBy('fName')">sort-by-first-name</a><br>
			<a ng-click="myPersonalOrderBy('lName')">sort-by-last-name</a><br></b>
			<li ng-repeat="y in names | orderBy:myOrderBy">I am {{y.fName + ' ' + y.lName | uppercase }}, {{y.balance | currency}} (orderBy:'name' , uppercase)</li>
		</ul>	
	</div><hr>
	<p>This is {{status | uppercase}} (uppercase filter added)</p>
	
	<script>
		var app = angular.module('myApp' , []);
		
		app.run(function($rootScope) {
			$rootScope.status= "rootScope"
		});
		app.controller('myCtrl' , function($scope){
			$scope.status= "scope";
			$scope.names= [
				{fName:'Omid',lName:'Nobahari',balance:'23'},
				{fName:'Tina',lName:'Sadeh',balance:'56'},
				{fName:'Amir',lName:'Tajik',balance:'2'},
				{fName:'Mamad',lName:'Solgi',balance:'768'},
				{fName:'Sara',lName:'Shoja',balance:'17'}
			];
			$scope.myPersonalOrderBy = function(y){
				$scope.myOrderBy = y;
			}
		});
	</script>
</body>
</html>
